/* Berkeley Mono Font Family */
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-ExtraLight.woff2');
  font-weight: 200;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-ExtraLight-Oblique.woff2');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-ExtraLight-Condensed.woff2');
  font-weight: 200;
  font-stretch: condensed;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-ExtraLight-Condensed-Oblique.woff2');
  font-weight: 200;
  font-style: italic;
  font-stretch: condensed;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-ExtraLight-SemiCondensed.woff2');
  font-weight: 200;
  font-stretch: semi-condensed;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-ExtraLight-SemiCondensed-Oblique.woff2');
  font-weight: 200;
  font-style: italic;
  font-stretch: semi-condensed;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-SemiLight.woff2');
  font-weight: 350;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-SemiLight-Oblique.woff2');
  font-weight: 350;
  font-style: italic;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-SemiLight-Condensed.woff2');
  font-weight: 350;
  font-stretch: condensed;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-SemiLight-Condensed-Oblique.woff2');
  font-weight: 350;
  font-style: italic;
  font-stretch: condensed;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-SemiLight-SemiCondensed.woff2');
  font-weight: 350;
  font-stretch: semi-condensed;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-SemiLight-SemiCondensed-Oblique.woff2');
  font-weight: 350;
  font-style: italic;
  font-stretch: semi-condensed;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Medium.woff2');
  font-weight: 500;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Medium-Oblique.woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Medium-Condensed.woff2');
  font-weight: 500;
  font-stretch: condensed;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Medium-Condensed-Oblique.woff2');
  font-weight: 500;
  font-style: italic;
  font-stretch: condensed;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Medium-SemiCondensed.woff2');
  font-weight: 500;
  font-stretch: semi-condensed;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Medium-SemiCondensed-Oblique.woff2');
  font-weight: 500;
  font-style: italic;
  font-stretch: semi-condensed;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Bold-Oblique.woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Bold-Condensed.woff2');
  font-weight: 700;
  font-stretch: condensed;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Bold-Condensed-Oblique.woff2');
  font-weight: 700;
  font-style: italic;
  font-stretch: condensed;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Bold-SemiCondensed.woff2');
  font-weight: 700;
  font-stretch: semi-condensed;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Bold-SemiCondensed-Oblique.woff2');
  font-weight: 700;
  font-style: italic;
  font-stretch: semi-condensed;
}

@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Black.woff2');
  font-weight: 900;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Black-Oblique.woff2');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Black-Condensed.woff2');
  font-weight: 900;
  font-stretch: condensed;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Black-Condensed-Oblique.woff2');
  font-weight: 900;
  font-style: italic;
  font-stretch: condensed;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Black-SemiCondensed.woff2');
  font-weight: 900;
  font-stretch: semi-condensed;
}
@font-face {
  font-family: "Berkeley Mono";
  src: url('https://saxon.me/theme/font/BerkeleyMono-Black-SemiCondensed-Oblique.woff2');
  font-weight: 900;
  font-style: italic;
  font-stretch: semi-condensed;
}

/* Univers Font Family */
@font-face {
  font-family: Univers;
  src: url('https://saxon.me/theme/font/UniversLTStd.woff2');
}
@font-face {
  font-family: Univers;
  src: url('https://saxon.me/theme/font/UniversLTStd-Bold.woff2');
  font-weight: 700;
}
@font-face {
  font-family: Univers;
  src: url('https://saxon.me/theme/font/UniversLTStd-BoldObl.woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Univers;
  src: url('https://saxon.me/theme/font/UniversLTStd-Obl.woff2');
  font-style: italic;
}
@font-face {
  font-family: Univers;
  src: url('https://saxon.me/theme/font/UniversLTStd-XBlack.woff2');
  font-weight: 900;
}
@font-face {
  font-family: Univers;
  src: url('https://saxon.me/theme/font/UniversLTStd-XBlackObl.woff2');
  font-weight: 900;
  font-style: italic;
}

/* Triptych Font Family */
@font-face {
  font-family: "Triptych";
  src: url('https://saxon.me/theme/font/Triptych-Roman.woff');
}
@font-face {
  font-family: "Triptych";
  src: url('https://saxon.me/theme/font/Triptych-Italick.woff');
  font-style: italic;
}
@font-face {
  font-family: "Triptych";
  src: url('https://saxon.me/theme/font/Triptych-Grotesque.woff');
  font-weight: 700;
}

/* Calluna Font Family */

@font-face {
    font-family: "Calluna";
    src: url('https://saxon.me/theme/font/Calluna-Regular-webfont.woff2');
    font-weight: 400;
  }
