{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}


{% block content %}
<article class="post">
    <h1 style="font-family: 'Triptych', serif; font-style: italic; font-weight: 900; margin-top: 0.2rem;">{{ page.title }}</h1>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}

    {% if page.modified %}
        <p>
        Last updated: {{ page.locale_modified }}
        </p>
    {% endif %}
</article>
{% endblock %}